<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Path to LogParser -->
    <add key="logParserPath" value="C:\Program Files (x86)\Log Parser 2.2\LogParser.exe"/>
    <!-- Path to folder with logs -->
    <add key="logFilesPath" value="D:\logs\*"/>
    <add key="arguments" value="-i:TSV -headerRow:off -iSeparator:'|' query"/>
    <add key="query1" value="SELECT Field2 as Level, COUNT(*) as Total FROM logFilesPath GROUP BY Level"/>
    <add key="query2" value="SELECT Field1 as Date, Field2 as Level, Field3 as Message FROM logFilesPath WHERE Level='ERROR'"/>
  </appSettings>
</configuration>