<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="customConfigurationSection" 
		         type="ConsoleApp.Configuration.CustomConfigurationSection, ConsoleApp"/>
	</configSections>

	<customConfigurationSection appName="ConsoleApp">
		<culture cultureInfo="ru-RU" />
		<folders>
			<add name="folder1"/>
			<add name="folder2"/>
			<add name="folder3"/>
		</folders>
		<rules>
			<add name="template1" pattern="^(File)\d{1}(.txt)$" destinationFolder="TxtFolder" addSequenceNumber="true" addDate="true"/>
			<add name="template2" pattern=".png" destinationFolder="PngFolder" addSequenceNumber="false" addDate="true"/>
			<add name="template3" pattern=".pdf" destinationFolder="PdfFolder" addSequenceNumber="true" addDate="false"/>
			<add name="template4" pattern=".xlsx" destinationFolder="ExelFolder" addSequenceNumber="false" addDate="false"/>
		</rules>
	</customConfigurationSection>
</configuration>